<div class="card">
  <%= link_to image_tag(pet.image, class: :card__img ), pet_path(pet.id)%>
  <div class="card__body">
   <div class='star-btn'>
    <%= link_to "#{pet.title}", pet_path(pet.id),  method: :get,class: :card__title%><br><%= image_tag "star.png", class:"star-icon" %><span class='star-count'></span>/
    <p class="card__summary">
      <%= "#{pet.catch_copy}" %>
    </p>
    <%= link_to "投稿者 #{pet.user.nickname}",user_path(pet.user.id),method: :get, class: :card__user %>
  </div>
</div>
