<main class="main_show">
  <div class="inner">
    <div class="pet__wrapper">
      <%# <p class="prototype__hedding">
        <%=link_to @pet.title%>
      <%# </p> %> 
      <%# <%= link_to"by#{@pet.user.name}",user_path(@pet.id),method: :get,class: :pet__user %> 
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @pet.user_id %>
        <div class="pet__manage">
          <%= link_to "編集する", edit_pet_path(@pet.id), method: :get , class: :pet__btn %>
          <%= link_to "削除する", pet_path(@pet.id),method: :delete, class: :pet__btn %>
        </div>
        <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="pet__image">
        <%= image_tag @pet.image%>
      </div>
      <div class="pet__body">
        <div class="pet__detail">
          <p class="detail__title">
          <p class="pet__hedding">
           <%=link_to @pet.title%>
          </p>
          <p class="detail__message">
            <%=link_to @pet.catch_copy %>
          </p>
        </div>
        <div class="pet__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
         <% if user_signed_in? %>
          <%= form_with model: [@pet, @comment],local: true do |f|%>
            <div class="field">
               <%= f.label :text, "コメントする" %><br />
               <%= f.text_field :text, id:"comment_text" %>
            </div>
            <div class="actions">
               <%= f.submit "送信する", class: :form__btn  %>
            </div>
            <% end %>
          <% end %> 
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <% @comments.each do |comment| %>
            <li class="comments_list">
           <p>
              <%=comment.text %>
              <%= link_to comment.user.name,  user_path(comment.user.id), class: :comment_user %>
             </p>
            </li>
              <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
          
        </ul>
      </div>
    </div>
  </div>
</main>
